#app {
  display: flex;
  justify-content: center;
}
.v-application {
  max-width: 1080px;
  width: 100%;

  &__wrap {
    header {
      position: sticky !important;
      margin-top: 10px;
      padding: 16px;
      border-radius: 8px;

      .v-toolbar-title {
        font-weight: 600;
      }
    }
  }
}

.v-main {
  padding-top: 0;
}
